{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Shashank portfolio</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" />
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!--  =======================================================
  * Template Name: DevFolio
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ========================================================  -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo"><img src="{% static 'img/logo.png'%}" alt="" class="img-fluid"></a>
        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="#hero">Home</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#about">About</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#work">Project</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#contact">Contact</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <div
    id="hero"
    class="hero route bg-image"
    style="background-image: url({% static 'img/hero-bg.jpg' %})"
    >
      <div class="overlay-itro"></div>
      <div class="hero-content display-table">
        <div class="table-cell">
          <div class="container">
            <!-- <p class="display-6 color-d">Hello, world!</p> -->
            <h1 class="hero-title mb-4">I am Shashank Joshi</h1>
            <p class="hero-subtitle">
              <span
                class="typed"
                data-typed-items="Software Developer, Backend developer"
              ></span>
            </p>
            <div class="resume">
              <input type="button" value="Resume" class="btn btn-primary" onclick="window.open('view_pdf')">
            </div>
            <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                          <img
                            src="{% static 'img/testimonial-2.jpg' %}"
                            class="img-fluid rounded b-shadow-a"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                          <p>
                            <span class="title-s">Name:</span>
                            <span>Shashank Joshi</span>
                          </p>
                          <p>
                            <span class="title-s">Profile:</span>
                            <span>Backend developer</span>
                          </p>
                          <p>
                            <span class="title-s">Email:</span>
                            <span>shashankk.jjoshi@gmail.com</span>
                          </p>
                          <p>
                            <span class="title-s">Phone:</span>
                            <span>(+91)7666641767</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="skill-mf">
                      <p class="title-s">Skill</p>
                      <span>Python</span> <span class="pull-right">95%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 95%"
                          aria-valuenow="95"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>Django</span> <span class="pull-right">90%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 90%"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>RESTful api </span> <span class="pull-right">90%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 90%"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>React js</span> <span class="pull-right">80%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 80%"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>Javascript</span>
                      <span class="pull-right">80%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 80%"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>Java</span> <span class="pull-right">80%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 80%"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>SQL</span> <span class="pull-right">85%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 85%"
                          aria-valuenow="85"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>MongoDB</span> <span class="pull-right">70%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 70%"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>Git and Github</span>
                      <span class="pull-right">90%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 90%"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <span>Postman</span>
                      <span class="pull-right">90%</span>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 90%"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h4 class="title-left">About me</h4>
                      </div>
                      <p class="lead">
                        Driven and detail-oriented Python developer with hands-on experience in building robust backend systems using Django and React. Passionate about problem-solving, I've successfully tackled over {{leetcode_data.totalSolved}} LeetCode problems, honing my algorithmic skills. Committed to delivering excellence, I thrive in dynamic environments, leveraging my expertise to develop innovative solutions that drive impactful results 
                      </p>
                    </div>
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h4 class="title-left">Work experience</h4>
                      </div>
                      <div class="title-box-2">
                        <h5 class="title-left"> Backend developer intern <br> <span style="font-size: small;">Shway</span></h5>
                      </div>
                      <p>Dec 2023 -- Jan 2024</p>
                      <ul>
                        <li> Developed and maintained the backend infrastructure for the company app utilizing Django Rest Framework
                          (DRF) and PostgreSQL</li>
                        <li>Implemented RESTful APIs and database schema design to ensure efficient data handling and retrieval</li>
                        <li>Spearheaded the complete backend development lifecycle, from conceptualization to deployment, leveraging DRF
                          and PostgreSQL technologies</li>
                      </ul>
                      <div class="title-box-2">
                        <h5 class="title-left"> Python developer intern <br> <span style="font-size: small;">Algo financials</span></h5>
                      </div>
                      <p>April 2024 -- May 2024</p>
                      <ul>
                        <li>Implemented  and maintained trading algorithms</li>
                        <li>Contributed to real-time monitoring and alerting systems development</li>
                        <li>Assisted in API integration for market data and trade execution</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Counter Section ======= -->
      <div
        class="section-counter paralax-mf bg-image"
        style="background-image: url({% static 'img/counters-bg.jpg' %})"
      >
        <div class="overlay-mf"></div>
        <div class="container position-relative">
          <div class="row">
            {% comment %} <div class="col-sm-6 col-lg-6">
              <div class="counter-box counter-box pt-4 pt-md-0">
                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-check"></i></span>
                </div>
                <div class="counter-num">
                  <p
                    data-purecounter-start="0"
                    data-purecounter-end="{{leetcode_data.totalSolved}}"
                    data-purecounter-duration="1"
                    class="counter purecounter"
                  ></p>
                  <span class="counter-text">Problem solved</span>
                </div>
              </div>
            </div> {% endcomment %}
            <div class="dashboard">
              <h1 color="#000000">Problem solved</h1>
              <div class="stats-container">
                  <div class="stat-box">
                      <div class="stat-title">Total Solved</div>
                      <div class="stat-value" id="totalSolved">
                        <p
                          data-purecounter-start="0"
                          data-purecounter-end="{{leetcode_data.totalSolved}}"
                          data-purecounter-duration="1"
                          class="counter purecounter"
                        ></p>
                      </div>
                  </div>
                  <div class="stat-box">
                      <div class="stat-title">Acceptance Rate</div>
                      <div class="stat-value" id="acceptanceRate">
                        <p
                          data-purecounter-start="0"
                          data-purecounter-end="{{leetcode_data.acceptanceRate}}"
                          data-purecounter-duration="1"
                          class="counter purecounter"
                        ></p>
                      </div>
                  </div>
                  <div class="stat-box">
                      <div class="stat-title">Ranking</div>
                      <div class="stat-value" id="ranking">
                        <p
                          data-purecounter-start="0"
                          data-purecounter-end="{{leetcode_data.ranking}}"
                          data-purecounter-duration="1"
                          class="counter purecounter"
                        ></p>
                      </div>
                  </div>
                  <div class="stat-box">
                      <div class="stat-title">Reputation</div>
                      <div class="stat-value" id="reputation">
                        <p
                          data-purecounter-start="0"
                          data-purecounter-end="{{leetcode_data.reputation}}"
                          data-purecounter-duration="1"
                          class="counter purecounter"
                        ></p>
                      </div>
                  </div>
                  <canvas id="problemsChart1" width="20" height="20"></canvas>
              </div>
            </div>
            <div class="dashboard">
              <h1 color="#000000">Projects</h1>
              <div class="stats-container">
                  <div class="stat-box">
                      <div class="stat-title">Repository</div>
                      <div class="stat-value" id="totalSolved">
                        <p
                          data-purecounter-start="0"
                          data-purecounter-end="{{github_data.public_repos}}"
                          data-purecounter-duration="1"
                          class="counter purecounter"
                        ></p>
                      </div>
                  </div>
                  <div class="stat-box">
                      <div class="stat-title">Public list</div>
                      <div class="stat-value" id="acceptanceRate">
                        <p
                          data-purecounter-start="0"
                          data-purecounter-end="{{github_data.public_gists}}"
                          data-purecounter-duration="1"
                          class="counter purecounter"
                        ></p>
                      </div>
                  </div>
                  <div class="stat-box">
                      <div class="stat-title">Followers</div>
                      <div class="stat-value" id="ranking">
                        <p
                          data-purecounter-start="0"
                          data-purecounter-end="{{github_data.followers}}"
                          data-purecounter-duration="1"
                          class="counter purecounter"
                        ></p>
                      </div>
                  </div>
                  
                  {% comment %} <canvas id="problemsChart2" width="20" height="20"></canvas> {% endcomment %}
              </div>
              <h1>To be displayed soon</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- End Counter Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">Projects</h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="work-box">
                <a
                  href="{% static 'img/work-1.jpg' %}"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                >
                  <div class="work-img">
                    <img src="{% static 'img/work-1.jpg' %}" alt="" class="img-fluid" />
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Multiple disease prediction</h2>
                      <div class="w-more">
                        <span class="w-ctegory">python/flask, machine learning, html+css</span> /
                        <span class="w-date">july 2023 to nov 2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="{% url 'portfolio-details1' %}"
                          ><span class="bi bi-plus-circle first"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="work-box">
                <a
                  href="{% static 'img/work-2.jpg' %}"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                >
                  <div class="work-img">
                    <img src="{% static 'img/work-2.jpg' %}" alt="" class="img-fluid" />
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Expense tracker</h2>
                      <div class="w-more">
                        <span class="w-ctegory">python/django, html+css, Javascript, git</span> /
                        <span class="w-date">dec 2023 to jan 2024</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="{% url 'portfolio-details2' %}"
                          ><span class="bi bi-plus-circle first"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section
        id="contact"
        class="paralax-mf footer-paralax bg-image sect-mt4 route"
        style="background-image: url({% static 'img/overlay-bg.jpg' %})"
      >
        <div class="overlay-mf"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="contact-mf">
                <div id="contact" class="box-shadow-full">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="title-box-2 pt-4 pt-md-0">
                        <h5 class="title-left">Get in Touch</h5>
                      </div>
                      <div class="more-info">
                        <p class="lead">
                          
                        </p>
                        <ul class="list-ico">
                          <li>
                            <span class="bi bi-geo-alt"></span>
                            Mumbai, Maharashtra
                          </li>
                          <li>
                            <span class="bi bi-phone"></span> (+91) 7666641767
                          </li>
                          <li>
                            <span class="bi bi-envelope"></span>
                            shashankk.jjoshi@gmail.com
                          </li>
                        </ul>
                      </div>
                      <div class="socials">
                        <ul>
                          <li>
                            <a href="https://github.com/Shashank12-03/"
                              ><span class="ico-circle"
                                ><i class="bi bi-github"></i></span
                            ></a>
                          </li>
                          <li>
                            <a href="https://www.instagram.com/shashank_1203/"
                              ><span class="ico-circle"
                                ><i class="bi bi-instagram"></i></span
                            ></a>
                          </li>
                          <li>
                            <a href="https://twitter.com/Shashank_0312"
                              ><span class="ico-circle"
                                ><i class="bi bi-twitter"></i></span
                            ></a>
                          </li>
                          <li>
                            <a href="https://www.linkedin.com/in/shashank-joshi-3664b2226/" 
                              ><span class="ico-circle"
                                ><i class="bi bi-linkedin"></i></span
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">
                &copy; Copyright <strong>Shashank</strong>. All Rights Reserved
              </p>
              <div class="credits">
                <!-- 
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
              -->
                Designed by
                <p >Me</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
  </body>
</html>
